h1{
    color: blueviolet;
        font-size: 40px;
        font-family: sans-serif; 
        text-align: center;
}
p{
    font-weight: 800;
    text-decoration: line-through;
}

table{
    font-family:Helvetica, sans-serif;
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    border-color: #E2A9F3;
 
}
th{
  font-weight: 800;
    background-color: #8904B1;
    color: black;
}